<section id="education" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{ 'EDUCATION.TITLE' | translate }}</h2>
        <ul>
          <li *ngFor="let item of education" class="card card-body portfolio-car"> <i class="fa fa-university fa-3 "> {{item.fields.startDate | date:'yyyy' }} - {{item.fields.endDate | date:'yyyy' }} </i>
            <h6>{{item.fields.college}}</h6>
            <p>{{item.fields.title}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
