<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{ 'EXPERIENCE.TITLE' | translate }}</h2>
        <div class="card card-body portfolio-car margin-top" *ngFor="let item of experiences">
          <h6>{{ item.fields.title }}</h6><p> {{ item.fields.startDate | date:'yyyy' }} - {{ item.fields.endDate | date:'yyyy' }}</p>
          <h6>{{ item.fields.job }}</h6>
          <p class="lead">{{ item.fields.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
